@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global dark styling */
body {
  background: #000;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.font-pixel {
  font-family: "Press Start 2P", cursive;
}
